/*
**************************************************************
******                 MAIN SETTINGS                   *******
**************************************************************
*/

* {
    margin: 0;
}

body {
    background: #111;
    background-image: linear-gradient(to left, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.0)), url('../images/about/background1.jpg');
    background-size: cover
}


html {
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}

a, a:visited {
    color: #FFF;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
    color: #e67e22;
}

/*
.crossfade > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
*/


/*
**************************************************************
******               MAIN TEXT AREA                    *******
**************************************************************
*/

.main {
    display: grid;
    margin-top: 3%;
    margin-left:  3%;
}

.logo
{
    height: 100px;
    width: auto;
    float: left;
    color: #FFF;
}

.logo-text {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    color: #FFF;
    font-size: 65px;
}

.logo-text a:hover {
    color: #FFF;
}

a {
    text-decoration: none;
}

.space-div-one {
    margin: 80px 0 30px 0;
    border-bottom: 3px solid #e67e22;
    width: 130px;
}

.div-title {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin: 4% 0 1% 0%;
    width: 15%;
    padding-bottom: 0.5%;
    border-bottom: 3px solid #e67e22;
}

.info {
    color: white;
    font-size: 1.4em;
    /*font-weight: bold;*/
}

#app-info {
    width: 100%;
    height: auto;
}

#author-info {
    width: 100%;
    height: auto;
}

#about-app-title {
/*    margin-top: 5%;*/
}


#app-version {
    margin-top: 5px;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}


/*CONTENT WRAPER */

#code-content {
    position: relative;
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin-right: 2%;
    font-size: 1.1em;
}

#text-content {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.content-wrap {

}

/*
**************************************************************
******               FOOTER SEETINGS                   *******
**************************************************************
*/

.footer-nav {
    margin-top: 100px;

}

.infos,
.links {
    margin-left: -40px;
}

.infos li,
.links li {
    display: inline-block;
    margin-left: 0;
    padding: 0;
    font-size: 20px;
}

.infos li{
    padding-right: 70px;
    font-weight: bold;
}

.icons ul li {
    display: inline-block;
}

.links {
    margin-right: 200px;
}

.links li{
    float: right;
    padding-right: 30px;
}

.icons li{
    padding-right: 80px;
}
.credits {
    color: #575757;
    margin-top: 18px;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}





/*
**************************************************************
******                      ICONS                      *******
**************************************************************
*/

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-github,
.ion-pull-request {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 25px;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin:hover {
    color: #0077b5;
}

.ion-social-github:hover {
    color: #bd2c00;
}

.ion-pull-request:hover {
    color: #205081;
}
