/*
**************************************************************
******                 MAIN SETTINGS                   *******
**************************************************************
*/

* {
    margin: 0;
}

body {
    background: #111;
}

html {
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}

a, a:visited {
    color: #FFF;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
    color: #e67e22;
}

/*
**************************************************************
******                 SLIDESHOW                       *******
**************************************************************
*/

.crossfade > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.crossfade > figure:nth-child(1) {
    background-image: linear-gradient(to right, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.0)), url('../images/errorImg/background1.jpg');
}

.crossfade > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 14%, rgba(0, 0, 0, 0.0)), url('../images/errorImg/background2.jpg');
}

.crossfade > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 18%, rgba(0, 0, 0, 0.0)), url('../images/errorImg/background3.jpg');
}

.crossfade > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 16%, rgba(0, 0, 0, 0.0)), url('../images/errorImg/background4.jpg');
}

.crossfade > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: linear-gradient(to right, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.0)), url('../images/errorImg/background5.jpg');
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-out;
        opacity: 0;
        background-color: #121212;
    }
    8% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    17% {
        opacity: 1
    }
    25% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}



/*
**************************************************************
******               MAIN TEXT AREA                    *******
**************************************************************
*/

.main {
    display: grid;
    margin-top: 5%;
    margin-left:  350px;
}

.logo
{
    height: 100px;
    width: auto;
    float: left;
    color: #FFF;
}

.logo-text {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    color: #FFF;
    font-size: 65px;
}

.logo-text a:hover {
    color: #FFF;
}

a {
    text-decoration: none;
}

.space-div-one {
    margin: 120px 0 30px 15px;
    border-bottom: 3px solid #e67e22;
    width: 130px;
}

.main-content h1 {
    color: #FFF;
    font-size: 110px;
    line-height: 1.35;
    letter-spacing: -.1rem;
    text-transform: uppercase
}

.main-content p {
    margin-top: 20px;
    font-size: 21px;
    width: 32%;
    color: #727272;
    margin-left: 20px;
}





/*
**************************************************************
******               FOOTER SEETINGS                   *******
**************************************************************
*/

.footer-nav {
    margin-top: 180px;

}

.infos,
.links {
    margin-left: -40px;
}

.infos li,
.links li {
    display: inline-block;
    margin-left: 0;
    padding: 0;
    font-size: 20px;
}

.infos li{
    padding-right: 70px;
    font-weight: bold;
}

.icons ul li {
    display: inline-block;
}

.links {
    margin-right: 200px;
}

.links li{
    float: right;
    padding-right: 30px;
}

.icons li{
    padding-right: 80px;
}
.credits {
    color: #575757;
    margin-top: 18px;
    letter-spacing: .1rem;
    margin-bottom: 20px;
}





/*
**************************************************************
******                      ICONS                      *******
**************************************************************
*/

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-github,
.ion-pull-request {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 25px;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin:hover {
    color: #0077b5;
}

.ion-social-github:hover {
    color: #bd2c00;
}

.ion-pull-request:hover {
    color: #205081;
}
