

/*big tablet to 1200px (width smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
    .main {
        margin-top: 50px;
        margin-left:  100px;
    }

    .space-div-one {
        margin-top: 80px;
    }

    .main-content h1{
        font-size: 60px;
    }

    .main-content p {
        margin-left: 0;
        width: 50%;
        font-size: 30px;
        color: #9b9b9b;
    }

    .infos li,
    .links li{
        font-size: 1.5em;
        padding-right: 30px;

    }

    .links li i {
        font-size: 25px;
        float: right;
        padding-right: 30px;
    }

    .footer-nav {
        margin-top: 130px;
    }

    .footer-nav .col {
        width: 100%;
    }
    .infos li{
        float: center;

    }
    .infos li,
    .links li {
        float: left;
        padding-right: 10px;
    }


}


/*small tablet to big tablet: from 768 ot 1023px*/
@media only screen and (max-width: 1023px) {
    .main {
        margin-top: 30px;
        margin-left:  60px;
    }


    .links li {
        padding-right: 10px;
    }

    .footer-nav {
        margin-top: 80px;
    }

    .space-div-one {
        margin-top: 60px;
    }
}

/*small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width: 767px) {
    .main {
        margin-top: 10px;
        margin-left:  10px;
    }

    .logo
    {
        height: 70px;
        width: auto;
        float: left;
        color: #FFF;
    }

    .logo-text {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 45px;
    }

    .space-div-one {
        margin: 40px 0 10px 0;
    }

    .main-content h1{
        font-size: 50px;
    }

    .main-content p {
        margin-left: 0;
        width: 80%;
        font-size: 150%;
        color: #9b9b9b;
    }

    .infos li {
        display: grid;
    }

    .links li {
        padding-right: 10px;
    }


    .credits {
        color: #575757;
        margin-top: 80px;
        letter-spacing: .1rem;
        margin-bottom: 20px;
    }
}




/*small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
    .main {
        margin-top: 3%;
        margin-left:  3%;
    }

    .logo
    {
        height: 40px;
        width: auto;
        float: left;
        color: #FFF;
    }

    .logo-text {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 30px;
    }

    .space-div-one {
        display: none;
    }

    .main-content {
        text-align: center;
    }

    .main-content h1{
        margin-top: 15%;
        text-align: center;
        font-size: 200%;
    }

    .main-content p {
        text-align: center;
        margin-left: 30px;
        width: 80%;
        font-size: 120%;
        color: #ffffff;
    }

    .footer-nav {
        margin-top: 38%;
    }

    .infos  {
        text-align: center;
        display: grid;
    }

    .footer-nav .col {
        text-align: left;
    }

    .footer-nav li{
        padding-right: 10px;
    }

    .footer-nav li i{
        width: 100%;
        /*        margin-left: 25%;*/
        font-size: 130%;
        display: inline;
    }

    .icons li{
        margin-top: 5%;
        margin-left: 9%;
    }


    .credits {
        font-size: 10px;
        text-align: center;
        color: #575757;
        margin-top: 15px;
        letter-spacing: .1rem;
        margin-bottom: 0;
    }
}