/*
**************************************************************
******                 MAIN SETTINGS                   *******
**************************************************************
*/

* {
    margin: 0;
}

body {
    background: #111;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.0)), url('../images/lake-sunset.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position:absolute;
}


html {
    text-rendering: optimizeLegibility;
    font-family: 'Lato', sans-serif;
}

a, a:visited {
    color: #FFF;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
    color: #e67e22;
}


.main {
    display: grid;
    width: 94%;
}

.navigation {
    margin-top: 3%;
    margin-left:  3%;

}

.logo
{
    height: 100px;
    width: auto;
    float: left;
    color: #FFF;
}

.logo-text {
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    color: #FFF;
    font-size: 65px;
}

.logo-text a:hover {
    color: #FFF;
}

a {
    text-decoration: none;
}

#introduction {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 3%;
    
    width: 100%;
    height: auto;
    
    color: white;
    font-size: 2.0em;
}

.block {
/*    background-color: green;*/
    display: flex;
    height: 100%;
    padding: 1%;
    vertical-align: middle;
    margin-bottom: 30px;
    
}


.solar_panel img{
    width: 80%;
    height: 90%;
    text-align: center;
    opacity: 0.7;
    border-radius: 60px;
    padding: 3%;
}


.solar_panel {
    flex: 1;
    text-align: right;
    margin-right: 3%;
}

.solar_panel_div{
    font-size: 1.6em;
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
    color: white;
    width: 60%;
    
    line-height: 1.4em;
    text-align: center;
}

.info {
    color: white;
    font-size: 1.4em;
    /*font-weight: bold;*/
}



/*CONTENT WRAPER */

#code-content {
    position: relative;
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin-right: 2%;
    font-size: 1.1em;
}

#text-content {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.content-wrap {
    width: 100%;
}

/*
**************************************************************
******               FOOTER SEETINGS                   *******
**************************************************************
*/

.footer-nav {
    margin-top: 0px;

}

.infos,
.links {
/*    margin-left: -30px;*/
}

.infos li,
.links li {
    display: inline-block;
    margin-left: 0;
    padding: 0;
    font-size: 20px;
}

.infos li{
    padding-right: 70px;
    font-weight: bold;
}

.icons ul li {
    display: inline-block;
}

.links {
    margin-right: 200px;
}

.links li{
    float: right;
    padding-right: 30px;
}

.icons li{
    padding-right: 80px;
}
.credits {
    color: #575757;
    margin-top: 18px;
    letter-spacing: .1rem;
    margin-bottom: 20px;
    margin-left: 3%;
/*    text-align: center;*/
/*    margin-top: 2%;*/
}





/*
**************************************************************
******                      ICONS                      *******
**************************************************************
*/

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-github,
.ion-pull-request {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 25px;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin:hover {
    color: #0077b5;
}

.ion-social-github:hover {
    color: #bd2c00;
}

.ion-pull-request:hover {
    color: #205081;
}
