@media only screen and (max-width: 3000px) {
    .dropdown {
        display: none;
    }

}

/*big tablet to 1200px (width smaller than the 1140px row*/
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width:100%;
        padding: 0 2%;
    }

    .dropdown {
        display: none;
    }

    .row {padding: 0 2%; }

    .result-section {
        margin-left: 4%;
        margin-right: 4%;
        font-size: 16px;
    }

    footer {
        font-size: 16px;
    }
}


/*small tablet to big tablet: from 768 ot 1023px*/
@media only screen and (max-width: 1023px) {

    .roof-feature-photos img {
        height: 50px;
        display: inline-block;
        margin: 0;
    }

    .dropdown {
        display: none;
    }



    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .step-box:last-child { margin-top: 10px; }
    .works-step {margin-bottom: 40px }
    .works-step:last-of-type{margin-bottom: 60px}

    .app-screen {width: 50%; }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

    .city-feature { font-size: 90%; }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .plan-price { font-size: 250%; }
    .contact-form {width: 80%; }
}







/*small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width: 767px) {
    .dropdown {
        display: inline-block;
    }

    .btn:link,
    .btn:visited{
        width: 250px;
    }

    .logo {
        height: 90px;
    }


    footer {
        height:  auto;
        /*        font-size: 12px;*/
    }

    .footer-nav div {
        font-size: 22px;
    }

    .results-infos {
        display: none;
    }

    .roof-feature-photos div  {
        display: inline;
        width: 25%;
    }




    section {padding: 30px 0; }

    .row,
    .hero-text-box {
        padding: 0 4%;
        font-size: 17px;
        text-align: center;
    }

    .col {
        font-size: 17px;
        text-align: center;
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav {display: none; }

    h1 { font-size: 180%; }
    h2 { font-size: 150%; }

    .long-copy {
        width: 100%;
        margin-left: 0;
    }
}


/*small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
    .hero-text-box {
        top: 60%;
        font-size: 17px;
        text-align: center;
    }

    .btn:link,
    .btn:visited{
        width: 100%;
    }

    .logo {
        height: 90px;
    }


    .roof-feature-photos div  {
        display: inline;
        width: 25%;
    }


    .result-section {
        font-size: 14px;
        padding: 0;
        height: 420px;
    }

    .results-fields-all {
        height: 340px;
        font-size: 15px;
    }


    footer {
        padding: 40px 10px 20px 10px;
        height: auto;
    }

    .footer-nav div {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-nav div li {
        margin: 0;
    }

    .social-links {
        width: 100%;
        text-align: center;
    }

    .social-links li {
        padding-right: 20px;
        padding-left: 30px;
        margin-right: 0;
    }




}

@media only screen and (max-width: 300px) {
    .hero-text-box {
        top: 55%;
        font-size: 17px;
        text-align: center;
    }

    .btn:link,
    .btn:visited{
        width: 100%;
    }

    .logo {
        height: 90px;
    }


    .roof-feature-photos div  {
        display: inline;
        width: 25%;
    }


    .result-section {
        font-size: 12px;
        padding: 0;
        height: 420px;
    }

    .results-fields-all {
        height: 340px;
    }


    footer {
        padding: 40px 10px 20px 10px;
        height: auto;
        font-size: 18px;
    }

    .footer-nav div {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .social-links {
        width: 100%;
        text-align: center;
    }

    .social-links li {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0;
    }
}