/*orange color = #e67e22  */
/*-------------------------------------------------*/
/*basic setup*/
/*-------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------------------------------*/
/*reusable components*/
/*-------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

/*headings*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*---------paragraphs---------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box i {
    text-align: center;
}

.box h3 {
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
    text-align: center;
}

/*icons*/

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /* secrets to align text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/* LINKS*/

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*buttons*/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300%;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.5s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.5s, border 0.2s, color 0.2s;
    transition: background-color 0.5s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #FFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #FFF;
}

/*-------------------------------------------------*/
/*Headers*/
/*-------------------------------------------------*/
header {

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/sunset.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.3)), url(img/sunset.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
    color: #FFF;
}

/* MAIN NAVI*/
.main-nav {
    float: left;
    list-style: none;
    margin-top: 33px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    /*    margin-top: 35px;*/
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/* CALCULATOR SECTION */

.section-calculator {
    background-color: #e5e5e5;
}

.calculator-nav {
    text-align: center;
    /*    float: left;*/
    list-style: none;
    margin-top: 40px;
}

.input-fields {
    text-align: center;
    text-transform: uppercase
}

.input-fields input[type=text],
.input-fields input[type=number],
.input-fields select {
    height: 42px;
    width: 70%;
    border-radius: 60px;
    border: 2px solid #e67e22;
    background-color: #cccccc;
    text-align: center;
}

/*usuwa strzałki góra dół */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.advanced-inputs input[type=text],
.advanced-inputs input[type=number],
.advanced-inputs select {
    width: 50%;
    margin-top: 0;
}

.input-fields select {
    text-align-last: center;
}

.center-div {
    display: block;
    text-align: center;
    font-size: 110%;
    margin-bottom: 2%;
}

.advanced {
    margin-top: 35px;
}

#submit-form {
    margin-top: 20px
}

#submit-form input[type=submit] {
    width: auto;
    font-size: 140%;
    border-radius: 200px;
    border: 1px solid #e67e22;
    background-color: #e67e22;
    text-transform: uppercase;
    padding: 10px 30px;
    color: #000;
    transition: background-color 0.5s, border 0.2s, color 1s;
}

#submit-form input:hover {
    background-color: #cb5010;
}

.value-field {
    /*
        margin-bottom: 30px;
        width: 100%;
        text-align: right;
        padding-right: 20px;
    */
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* remove default arrow */
    background-image: url(../images/arrow-down.svg);
    background-size: 5%;
    background-repeat: no-repeat;
    background-position: 95%;
    /*  outline: 0;*/
}

.roof-feature-photos img {
    height: 120px;
    display: inline;
    margin: 0;
    overflow: hidden;
    width: auto;
}

.advanced-options-texts {
    text-align: center;
}

.advanced-options-texts {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

#submit-form input:hover {
    background-color: #cb5010;
}

select option {
    background-color: white;
    color: gray;
    width: 310px;
    padding: 10px 15px;
    height: 20px;

}

.advanced a {
    display: inline-block;
    padding-bottom: 2px;
}

.advanced a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.advanced a:hover {
    color: #e67e22;
    padding-bottom: 1px;
}

.advanced a:hover:after {
    width: 100%;
    background: #e67e22;

}

.content {
    background-image: url('../images/roofAngles/10.png');
}

/*-------------------------------------------------*/
/*features*/
/*-------------------------------------------------*/

.section-features .long-copy {
    margin-bottom: 40px;
}

/*-------------------------------------------------*/
/*PANELS*/
/*-------------------------------------------------*/

.section-panels {
    padding: 0;
}

.panels-showcase {
    list-style: none;
    width: 100%;
}

.panels-showcase li {
    display: block;
    float: left;
    width: 25%;

}

.panel-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.panel-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.panel-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
}

/*-------------------------------------------------*/
/*CITIES*/
/*-------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

/*-------------------------------------------------*/
/*********************  RESULT  ********************/
/*-------------------------------------------------*/

.result-section {
    padding: 0;
    height: 600px;
}

/*6 divs x 40px = 240 */

.results-fields-all {
    margin: 0;
    height: 500px;
    font-size: 130%;

}

.a {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.result-field {
    margin-top: 0;
    margin-bottom: 30px;
}

.results-infos {
    margin: 0;
    height: 500px;
    font-size: 130%;
}

.results-infos div {
    position: relative;
    width: 90%;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.results-header {
    padding-top: 30px;
    text-align: center;
    font-size: 180%;
}

/*
**************************************************************
******               FOOTER SEETINGS                   *******
**************************************************************
*/

footer {
    background-color: #333;
    padding: 50px;
}

.footer-nav div {
    list-style: none;
    float: left;
    font-size: 135%;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 25px;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #FFF;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.ion-social-facebook,
.ion-social-linkedin,
.ion-social-github,
.ion-pull-request {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
    /*    font-size: 25px;*/
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-linkedin:hover {
    color: #0077b5;
}

.ion-social-github:hover {
    color: #bd2c00;
}

.ion-pull-request:hover {
    color: #205081;
}

/*
**************************************************************
******                  DROPDOWN                     *******
**************************************************************
*/

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 30px;
    font-size: 6px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    background-image: url("../images/dropdownImage.svg");
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;

}

.dropbtn:hover, .dropbtn:focus {
    /*    background-color: rgba(230, 126, 34, 0.16); */
}

.dropdown {
    margin-top: 5%;
    margin-right: 5%;
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    font-weight: bold;
    left: auto;
    right: 8%;
    margin-left: 10px;
    margin-right: -1px;

    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
    overflow-x: hidden;
}

.dropdown-content a {
    left: auto;
    margin-right: -1px;

    position: relative;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: rgba(230, 126, 34, 0.16);
}

.show {
    display: inline-block;
}














